

.Home {
  padding-top: 20px;
  margin-top: 20px;
  margin: auto;
  width: 100%;
}

.Home a{
  padding: 20px 10px;
  margin: 5px 5px;
}

.Home a:hover{
  cursor: pointer;
}

.clear{
  clear: both;
}
