

.App{
  margin: 10px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.HeaderSection-select{
   
}

.ReportHeaderSection-RatingIcon{
  width: 48px;
  height: 48px;
  padding: 2px;
}

.ScoringDetailSection-RatingIcon{
  width: 20px;
  height: 20px;
  padding: 2px;
}
.content{
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px; 
}

#ReportHeaderSection-Body{
    width: 100%;
    display: block;
    position: relative;
}

#ReportHeaderSection-info{
  position: relative;
  display: block;
  width: 700px;
  float: left;
}

#ReportHeaderSection-rating{
  float: right;
  display: block;
  position: absolute;
  top: 28px;
  right: 20px;
}
.clear{
  clear: both;  
}


/*
  ----------------- Scoring Table
*/

.ScoringTable-table{
  width: 100%;
  background-color: 'white';
  color: 'black';
}

.ScoringTable-table td{
  padding-left: 8px;
  height: 32px;
  color: #222;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.ScoringTable-table th{
  padding-left: 8px;
  color: #8D969E;
  font-weight: normal;
  height: 38px;
  font-size: 16px;
}

.ScoringTable-table tr th:nth-child(1){
  color: #768089;
  font-weight: 600;
  width: 64%;
  text-align: inherit;
}
.ScoringTable-table tr td:nth-child(1){
  text-align: inherit;


/*  border-left-style: none;
  border-left-width: 3px;
  border-left-color: black*/
}
.ScoringTable-table tr th{
  text-align: center;
  width: 12%;
}
.ScoringTable-table tr td{
  text-align: center;
/*  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #CACACA*/
}

.ScoringTable-table tr:nth-child(odd) td {
  background-color: rgb(232, 234, 244);
}

.textStyleBody2 li{
    color: black;
    font-weight: 600;
    padding-top: 5px;
    font-size: 15px;
}